<section class="p-4 d-flex flex-column justify-content-center aligns-items-center">
  <div class="mb-3 row">
    <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="staticEmail" [(ngModel)]="email">
      {{ email }}
    </div>
  </div>
  <div class="mb-3 row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
    <div class="col-6">
      <input type="password" class="form-control" id="inputPassword">
    </div>
  </div>
</section>

<button class="btn btn-primary" (click)="login()">Logar</button>
