<h3>Log do Formuário</h3>
<section *ngIf="logFormulario">
    <h5>Dados Pessoais</h5>

    <p>Nome: {{ logFormulario.dadosPessoais.nome}}</p>
    <p>Email: {{ logFormulario.dadosPessoais.email }}</p>
    <p>Profissão: {{ logFormulario.dadosPessoais.profissao }}</p>
    <p>Idade: {{ logFormulario.dadosPessoais.idade }}</p>
    <p>Sexo: {{ logFormulario.dadosPessoais.sexo }}</p>

    <h5>Endereço:</h5>

    <p>Cep: {{ logFormulario.endereco.cep }}</p>
    <p>Rua: {{ logFormulario.endereco.rua }}</p>
    <p>Complemento: {{ logFormulario.endereco.complemento }}</p>
    <p>Número: {{ logFormulario.endereco.numero }}</p>
    <p>Cidade: {{ logFormulario.endereco.cidade }}</p>
    <p>Estado: {{ logFormulario.endereco.estado }}</p>

</section>
